#registrovanje {
  max-width: 60vw;
  margin: 0 auto;
  font-size: 1.5vw;
  border: red dotted 0.2vw;
  padding: 1vw 0vw 1vw 2vw;
  margin-top: 2vw;
  border-radius: 5%;

  &:hover {
    box-shadow: 0 0 1vw 1vw rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
  }

  h1 {
    color: white;
    font-size: 2vw;
    padding-left: 20vw;
  }

  label {
    display: block;
    margin-top: 2vw;
    color: white;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: larger;
    width: 50vw;
    padding: 1vw;
    margin-top: 1vw;
    border: 0.2vw solid #ccc;
    border-radius: 0.4vw;
    height: 1vw;
  }

  #firstName, #lastName {
    height: 1vw;
  }

  #regPrijava, #prijavaReg {
    display: flex;

    p {
      margin-top: 3vw;
      margin-left: 20vw;
      color: white;
    }

    > p + a, a {
      margin-top: 3vw;
      margin-left: 0.5vw;
      color: red;
    }
  }

  #registrujse, #prijavise {
    background-color: red;
    color: white;
    padding: 1.5vw 2vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    margin-top: 2vw;
    font-size: 1.5vw;

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }

  .reg {
    display: flex;

    .obavezno {
      font-size: 3vw;
      color: red;
      padding-left: 1.5vw;
      padding-top: 1.5vw;
    }
  }
}