@import "../../styles/_variables";
@import "../../styles/themeVariables";

.form-container {
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 55px;
  border-radius: 10px;
  border: 2px solid $tertiary-color;
}

.pageContainer {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.red {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

#registracijaBtn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#regPrijava {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-left: 55px;
  padding-right: 55px;
}

select {
  width: 150px;
}

input {
  width: 150px;
  right: 0px;
}

#slika {
  width: 300px;
}

form p {
  margin: 0px;
}

button {
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: $secondary-color !important;
  font-weight: 400;
  padding: 5px;
  width: inherit;
}

input,
select {
  border: 1px solid rgba(128, 128, 128, 0.831);
  border-radius: 8px;
}

#regPrijava a {
  color: $background-light;
  border: 1px solid $tertiary-color;
  padding: 3px;
  border-radius: 10px;
  background-color: $tertiary-color;
  font-size: 17px;
}

#regPrijava p {
  margin-top: 5px;
}
