.form-container {
  width: 500px;
}

.pageContainer {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 100px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.red {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

#registracijaBtn {
  display: flex;
  justify-content: center;
}

#regPrijava {
  display: flex;
  justify-content: space-between;
}

select {
  width: 150px;
}

input {
  width: 150px;
  right: 0px;
}

#slika {
  width: 300px;
}

form p {
  margin: 0px;
}
